<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Cadastro de Alunos</h1>
        </header>
        <section>
            <form method="post" action="/alunos/cadastro">
                Matricula: <input type="text" name="matricula" id="matricula">
                <br>
                Nome: <input type="text" name="nome" id="nome">
                <br>
                Email: <input type="email" name="email" id="email">
                <br>
                Turma: <input type="text" name="turma" id="turma">
                <br>
                Serie: <input type="number" name="serie" id="serie">
                <br>
                Sexo: <input type="text" name="sexo" id="sexo">
                <br>
                Telefone: <input type="fone" name="telefone" id="telefone">
                <br>
                Endereço: <input type="text" name="endereco" id="endereco">
                <br>
                Responsavel: <input type="text" name="responsavel" id="responsavel">
                <br>
                <input type="submit" value="Cadastrar">
            </form>
        </section>
    </main>
    
</body>
</html>