<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styleHome.css">

</head>
<body>
	<nav>
		<a href="/alunos">Home</a>
		<a href="/alunos/formCadastroUser">Cadastrar</a>
		<a href="/alunos/listarAlunos">Listar Alunos</a>
	</nav>

	<div class="main-content">
		<h1>Escolinha Hello world!</h1>
		<p>Oferecemos uma ampla gama de cursos para estudantes de todas as idades e habilidades. Nossos professores experientes se dedicam a ajudar cada aluno a atingir todo o seu potencial.</p>
	</div>
</body>
</html>
    
</body>
</html>